body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

header {
    height: 100px;
    margin:0;
    top:0;
    position:fixed;
    width:100%;
}

main {
    flex: 1;
    margin-top: 100px;
    margin-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}